<%= form_with(model: shortened_link) do |form| %>
  <% if shortened_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shortened_link.errors.count, "error") %> prohibited this shortened_link from being saved:</h2>

      <ul>
        <% shortened_link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original_url %>
    <%= form.text_field :original_url %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
